body{
	margin:0px;
	padding:0px;
	background:rgba(220,220,220,1);
	font-family: "Open Sans", Arial, sans-serif;
}
#esq{
	position:absolute;
	top:28vw;
	left:2%;
	width:4vw;
	height:4vw;
	background-image:url(../img/esq.png);
	background-size:cover;
	cursor:pointer;
}
#esq:active{
	transform:scale(0.9,0.9) ;
}
#dre{
	position:absolute;
	top:28vw;
	left:94%;
	width:4vw;
	height:4vw;
	background-image:url(../img/dreta.png);
	background-size:cover;
	cursor:pointer;
}
#dre:active{
	transform:scale(0.9,0.9) ;
}
header{
	position:relative;
	top:5vw;
	left:0px;
	width:86%;
	height:87vh;
	margin:0px 7%;
	overflow:hidden;
}
nav{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	margin:0px;
	height:4vw;
	overflow:hidden;
	border-bottom:2px solid grey;
	background:rgba(248,245,232,1);
	transition:all 0.5s;
}
#div2{
	background:url(../img/NovesDecembre2019/subilogo.jpg);
	width:2.2%;
	height:3vw;
	float:left;
	margin:0.5vw 0px 0px 2.4%;
	background-size:cover;
}
nav>a>h2{
	width:36%;
	font-size:3vw;
	margin:0.2vw 0% 1vw 2.4%;
	float:left;
	text-transform:uppercase;
	font-family: calibri;
	color:rgba(77,79,79,1);
}
nav>img{
	position:absolute;
	top:-500px;
	left:1000px;
	width:0px;
}
#div3{
	float:right;
	width:6.5%;
	margin:0.7vw 0% 0vw 0vw;
	overflow:hidden;
	font-size:1.2vw;
	font-weight:bold;
}
#div3>a{
	font-family:arial;
	text-decoration:none;
	color:rgba(90,0,0,1);
}
#div3>a:hover{
	text-decoration:underline;
}
#div1{
	float:left;
	width:46%;
	margin:1vw 0% 0px 4%;
}
#div1>a>div{
	width:20%;
	font-size:1.8vw;
	padding:0px 0px 2px 0px;
	text-align:center;
	text-transform:capitalize;
	font-family: calibri;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	transition:all 0.1s;
	cursor:pointer;
	color:white;
	background:rgba(55,55,55,1);
	border-bottom:1px solid grey;
}
#div1>a>div:hover{
	color:black;
	background:silver;
	border-bottom:0.1vw solid brown;
}

.fotosli{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:60vw;
	transition:all 1s;
}
#slid1{
	background:url(../img/IMG_0309tres.jpg);
	background-size:cover;
}
#slid2{
	background:url(../img/DSC00262dos.JPG);
	background-size:100% 100%;
}
#slid3{
	background:url(../img/IMG_0312prova.jpg);
	background-size:cover;
}
#slid4{
	background:url(../img/DSC00266dos.JPG);
	background-size: cover;
}
@media(max-width:1000px){
	#slid1{
		background:url(../img/IMG_0309quatre.jpg);
		background-size:cover;
	}
	#slid2{
		background:url(../img/DSC00262tres.jpg);
		background-size: 100% 100%;
	}
	#slid3{
		background:url(../img/IMG_0312quatre.jpg);
		background-size:cover;
		background-position:right bottom;
	}
	#slid4{
		background:url(../img/DSC00266tres.JPG);
		background-size:cover;
	}
}
h1{
	margin-top:6.7vw;
	margin-bottom: 0px;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-family:calibri;
	font-size:2.8vw;
}

#div4{
	width:100%;
	overflow:hidden;
}
#div4>h3{
	width:86%;
	font-size:2vw;
	padding:1vw 7%;
	background:rgba(240,240,240,1);
}
#div4>div{
	width:90%;
	margin:0px 5%;
	height:38vw;
	overflow:hidden;
}
#div4>div>a{
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
#div4>div>a>img{
	width:49%;
	background-size:100% 100%;
	opacity:1;
	transition:0.4s;
}
#div4>div>a>img:hover{
	opacity:0.9;
}
#div5{
	background: rgba(240,240,240,1);
	padding-top: 20px;
}
#div5>a{
	text-decoration: none;
}
#div5 h3{
	width:auto;
	text-align: center;
	margin: 25px 10px 0px;
	color: black;
	font-size: 1.6rem;
}
#div5 h3::after {
	content: '';
	width: 0px;
	height: 3px;
	background-color: black;
	margin: auto; 
	display: block;
}
#div5 h3:hover::after{
	width: 94%;
	transition: width 0.3s linear;
}
#div5 h3:hover{
	color: rgba(80, 80,80,1);
}
#div5>div{
	width:75%;
	margin-left: 15%;
	height: 34vw;
	overflow: hidden
}
#div5>div>a>img{
	height: 80%;
	margin-top: 5%;
	transition: 0.4s;
	float: left
}
#div5>div>a>img:hover{
	opacity:0.8;
}
#div5>div>a>p{
	height: 80%;
	margin-top: 5%;
	margin-right:0%;
	margin-bottom: 5%;
	margin-left: 30%;
	font-size: 1.5rem;
	color:black;
}
#div5>div>a{
	text-decoration:none
}
#div5>div>a:visited{
	color:black
}
section>article>h3{
	width:86%;
	font-size:2vw;
	padding:1vw 7%;
	background:rgba(240,240,240,1);
}
section>article>h4{
	width:90%;
	font-size:1.6vw;
	padding:1vw 5% 0vw 5%;
}
section>article>p{
	width:80%;
	font-size:1.8vw;
	padding:2vw 11% 0vw 9%;
}
section>article>h6{
	font-size:1.6vw;
	width:90%;
	padding-left:5%;
	text-transform:capitalize;
}
section>div{
	width:100%;
	height:4vw;
	background:rgba(240,240,240,1);
}
footer{
	width:100%;
	height:5vw;
	border-top:2px solid black;
	background:rgba(255,240,219,1);
}
footer>a{
	float:left;
	padding-top:0.4vw;
	margin: 1vw 25% 0px 5%;
	font-size:1.8vw;
	text-decoration:none;
	color:rgba(77,79,79,1);
}
footer>a:nth-child(1){
	font-size:2.0vw;
}
footer>p{
	float:left;
	padding-top:0.4vw;
	margin: 1vw 25% 0px 5%;
	font-size:1.8vw;
	text-decoration:none;
	color:rgba(77,79,79,1);
}
footer>p:nth-child(1){
	font-size:2.0vw;
}

@media(max-width:1000px){
	nav{
		height:12vw;
	}
	nav>a>h2{
		width:65%;
		font-size:6.8vw;
		margin:2vw 0% 0.8vw 6%;
	}
	#esq{
		position:absolute;
		top:28vw;
		left:-1000px;
		width:4vw;
		height:4vw;
	}
	#dre{
		position:absolute;
		top:28vw;
		left:-1000px;
		width:4vw;
		height:4vw;
	}
	header{
		position:relative;
		top:13.5vw;
		left:0px;
		width:100%;
		height:74vw;
		margin:0px;
		overflow:hidden;
	}
	.fotosli{
		position:absolute;
		top:0px;
		left:0px;
		z-index:-1;
		width:100%;
		height:74vw;
		transition:all 1s;
}
	nav>img{
		position:absolute;
		top:1vw;
		left:86%;
		width:10vw;
		cursor:pointer;
	}
	#div2{
		background:url(../img/NovesDecembre2019/subilogo.jpg);
		width:5.4%;
		height:7.6vw;
		float:left;
		margin:2vw 0px 0px 4.4%;
		background-size:cover;
	}
	#div3{
		position:absolute;
		top:66vw;
		left:25%;
		width:75%;
		margin:0vw;
		z-index:1;
	}
	#div3>a{
		float:left;
		margin:0px 4% 0px 3%;
		font-size:calibri;
		text-decoration:none;
		color:rgba(77,79,79,1);
		list-style:none;
		font-size:4.5vw;
		font-family:calibri;
		padding:1.8vw 1% 0px 1%;
	}
	#div3>a:hover{
		text-decoration:none;
	}
	#div4>div{
		width:94%;
		margin:0px 3%;
		height:38vw;
		overflow:hidden;
	}
	#div1{
		position:absolute;
		top:14vw;
		left:0px;
		width:100%;
		z-index:1;
		margin:0px;
	}
	#div1>a>div{
		width:92%;
		height:8.2vw;
		font-size:5.5vw;
		margin:0px 4% 0px 4%;
		padding:1.8vw 1% 0px 1%;
		text-align:left;
		text-transform:capitalize;
		font-family: calibri;
		text-decoration:none;
		font-weight:bold;
		display:inline-block;
		transition:all 0.1s;
		cursor:pointer;
		color:rgba(77,79,79,1);
		background:rgba(248,245,232,1);
	}
	#div1>a>div:hover{
		color:black;
		background:rgba(235,230,220,1);
		border-bottom:0.1vw solid grey;
	}
	h1{
		font-size:6vw;
		margin-top:13vw;
	}
	#div4>h3{
		width:86%;
		font-size:5vw;
		padding:1vw 7%;
		background:rgba(240,240,240,1);
	}
	#div4>div{
		width:96%;
		margin:0px 2%;
		height:42vw;
		overflow:hidden;
	}
	#div5>div>a>p{
	height: 80%;
	margin-top: 5%;
	margin-right:0%;
	margin-bottom: 5%;
	margin-left: 30%;
	font-size: 2.8vw
}
	#div5>div{
	width:90%;
	margin-left: 5%;
	height: 38vw;
	overflow: hidden
}
	section>article>h3{
		width:86%;
		font-size:5vw;
		padding:1vw 7%;
		background:rgba(240,240,240,1);
	}
	section>article>h4{
		width:92%;
		font-size:3.8vw;
		padding:1vw 4% 0vw 4%;
	}
	section>article>p{
		width:94%;
		font-size:3.8vw;
		padding:1vw 3% 0vw 3%;
	}
	section>article>h6{
		font-size:4vw;
		width:96%;
		padding-left:2%;
	}
	footer{
		height:7vw;
	}
	footer>a{
		float:left;
		padding-top:0.4vw;
		margin: 1vw 18% 0px 5%;
		font-size:3vw;
		text-decoration:none;
		color:rgba(77,79,79,1);
	}
	footer>a:nth-child(1){
		font-size:3.3vw;
	}
	footer>p{
		float:left;
		padding-top:0.4vw;
		margin: 1vw 18% 0px 5%;
		font-size:3vw;
		text-decoration:none;
		color:rgba(77,79,79,1);
	}
	footer>p:nth-child(1){
		font-size:3.3vw;
	}
}
@media(max-width: 600px){
	#div4>div{
		width:90%;
		margin:0px 5%;
		height:150vw;
	}
	#div4>div>a{
		display:flex;
		flex-direction: column;
		align-items:center;
		justify-content: space-around;
		row-gap: 2vw;
	}
	#div4>div>a>img{
		width:100%;
	}
	#div5 h3{
		font-size: 1.4rem;
	}
}